<div class="wrapper">
  <div class="row1">
    <mat-card-title id="title">Most Popular Product
      <mat-card-subtitle id="subtitle">
        <br><i id="cal" class="material-icons">
          calendar_today
        </i>
        December 2, 2018 - December 31, 2018
      </mat-card-subtitle>
    </mat-card-title>
  </div>
  <div class="row2" fxLayoutAlign="end center">
    <div class="example-button-row" fxLayoutGap="20px">
      <button mat-raised-button class="button">Top Rated Products</button>
      <button mat-raised-button class="button">View All Products</button>
    </div>
  </div>
</div>

<div class="row" fxLayoutGap="25px">
  <mat-card class="overall-card" fxFlex="20">
    <mat-card-subtitle fxLayoutAlign="start start" class="matsub">Product ID: #PT-PD-1902</mat-card-subtitle>
    <mat-card-title fxLayoutAlign="start center" class="mattitle">ProTowns Dummy Product - NSESS</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="start start" class="matsub">By:&nbsp;<span id="by">ProTowns Inc.</span></mat-card-subtitle>
    <mat-card-content>
      <div class="row2" fxLayoutAlign="start center">
        <mat-card-title class="row2right" id="sales">1885
          <mat-card-subtitle id="subtitle">
            Total Sales
          </mat-card-subtitle>
        </mat-card-title>
        <div class="vl"></div>
        <mat-card-title class="row2right" id="earnings">$12,056
          <mat-card-subtitle id="subtitle">
            Earnings
          </mat-card-subtitle>
        </mat-card-title>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="overall-card" fxFlex="20">
    <mat-card-subtitle fxLayoutAlign="start start" class="matsub">Product ID: #PT-PD-1573</mat-card-subtitle>
    <mat-card-title fxLayoutAlign="start center" class="mattitle">ProTowns Dummy Product - NSESS</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="start start" class="matsub">By:&nbsp;<span id="by">ProTowns Inc.</span></mat-card-subtitle>
    <mat-card-content>
        <div class="row2" fxLayoutAlign="start center">
            <mat-card-title class="row2right" id="sales">1862
              <mat-card-subtitle id="subtitle">
                Total Sales
              </mat-card-subtitle>
            </mat-card-title>
            <div class="vl"></div>
            <mat-card-title class="row2right" id="earnings">$13,113
              <mat-card-subtitle id="subtitle">
                Earnings
              </mat-card-subtitle>
            </mat-card-title>
          </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="overall-card" fxFlex="20">
    <mat-card-subtitle fxLayoutAlign="start start" class="matsub">Product ID: #PT-PD-1988</mat-card-subtitle>
    <mat-card-title fxLayoutAlign="start center" class="mattitle">ProTowns Dummy Product - NSESS</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="start start" class="matsub">By:&nbsp;<span id="by">ProTowns Inc.</span></mat-card-subtitle>
    <mat-card-content>
        <div class="row2" fxLayoutAlign="start center">
            <mat-card-title class="row2right" id="sales">1799
              <mat-card-subtitle id="subtitle">
                Total Sales
              </mat-card-subtitle>
            </mat-card-title>
            <div class="vl"></div>
            <mat-card-title class="row2right" id="earnings">$11,091
              <mat-card-subtitle id="subtitle">
                Earnings
              </mat-card-subtitle>
            </mat-card-title>
          </div>
    </mat-card-content>
  </mat-card>

</div>
