@import '~@angular/material/theming';

@mixin navigation-bar-selected-item($theme) {
  
  $primary: map-get($theme, primary);
  $active: map-get($theme, accent);
  $text: mat-color($primary, '500-contrast');
  
  .mat-toolbar {
    background-color:  mat-color($primary, 500);
    color: $text;
  }

  .active.mat-button {
    color: mat-color($active);
  }

  .active-sidebar {
    background-color: mat-color($primary, 800);
    color: mat-color($active) !important;
  }
}