.top {
  height: 75px;
  align-items: center;
  padding: 0;
  background-color:  #fff;
}

.container {
  height: 100vh;
}

.mat-search_icons {
  display: block;
  margin: 0;
  padding: 0;
  color: aliceblue;

  &:hover {
    cursor: pointer;
  }

  .mat-search_icon-close,
  .mat-search_icon-search {
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    top: 0;
    left: 0;
    z-index: 6;
    background:  #4a84e8;
    border-radius: 100%;
  }

  .mat-search_icon-close,
  &.mat-search_icons--active .mat-search_icon-search {
    opacity: 0;
    transform: rotate(225deg);
  }

  &.mat-search_icons--active .mat-search_icon-close {
    opacity: 1;
    z-index: 3;
    visibility: visible;
    transform: rotate(360deg);
  }
}

.mat-search_field {
  margin: 25px;
}

.header-right {
  margin-right: 100px;
  display: flex;
  align-items: center;
}

#notify {
  margin-right: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border: 1px solid #4a84e8;
}

.example-card {
  background-color: rgba(0, 0, 0, 0);
  padding-right: 10px;
}

#user {
  color: #4a84e8;
}

mat-menu {
  position: absolute;
  margin-top: 20px;
}

.nav-bar {
  padding: 5px 0;
  border-bottom: 1px solid #ced4da;
  background-color:  #fff;
}

.space {
  flex: 1 1 auto;
}

mat-card {
  box-shadow: none !important;

}
#nav-title{
  margin-left: 100px;
  font-family: Roboto, Medium;
  font-size: 30px;
  font-weight: bold;
  color: #4a84e8;
}

.mat-sidenav-content {
  background-color: #edeef0;
}

.nav_row{
  display: flex;
}

#searcho {
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin-top: 5px;
}

#search {
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin-top: 5px;
}

.container {
  width: 100%;
  
  margin-right: auto;
  margin-left: auto;
}

.nav-button {
  min-height: 46px !important;
  min-width: 106px !important;
  font-size: 13px !important;
  line-height: 0px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee2e6;
  letter-spacing: .7px;
}

.active.mat-button {
  color: white;
  background-color: #4a84e8;
}