.wrapper {
  display: flex;
  margin: 0px;

  .overview-left {
    padding-top: 70px;
    padding-left: 0;
    padding-right: 15px;
  }
}

.wrapper>* {
  padding: 10px;
  flex: 1 100%;
}

.mat-tab-group {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.mat-divider {
  margin-left: 50px;
  margin-right: 50px;
}

#title {
  font-family: Roboto, Medium;
  size: 55px;
}

#title1 {
  font-family: Roboto, Medium;
  font-size: 35px;
}

#sub {
  font-family: Roboto, Light;
}

#sub-buttons {
 margin-top: 20px;
 position: center;
}

#title2 {
  font-family: Roboto, Medium;
  font-size: 50px;
  #title2-sub {
    font-size: 15px;
    margin-top: 15px;
  }
}

.row1 {
  margin-left: 40px;
  margin-top: 20px;
}

.row2 {
  margin-top: 20px;
}

.vl {
  border-left: 1px solid rgb(181, 189, 181);
  height: 30px;
  margin: 20px;
}

.row2right {
  margin-bottom: -14px;
}

.mat-card-title:not(:first-child) {
  margin-top: 3px;
}
