.wrapper {
    display: flex;
    margin: 0px;
  
    .overview-left {
      padding-top: 70px;
      padding-left: 0;
      padding-right: 15px;
    }
  }
  
  .wrapper>* {
    padding: 10px;
    flex: 1 100%;
  }
  
  .row1 {
    margin-left: 40px;
    margin-top: 20px;
  }
  
  .row2 {
    margin-top: 20px;
    margin-right: 40px
  }
  
  .row {
  
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
  }

  #title {
    font-family: Roboto, Medium;
    size: 55px;
  }
  
  .overall-card {
      min-width: 400px;
      min-height: 200px;
  }
  
  .mattitle {
      font-size: 18px;
      margin-top: 20px;
  }
 
  .icons {
      margin: 20px;
      margin-top: 30px;
  }
  
  #time {
      font-size: 13px;
  }
  
  .button {
      background-color: rgb(114, 114, 114);
      color: white;
  }

  .mat-card-title:not(:first-child) {
    margin-top: 2px;
  }

  .content {
    background-color:#F3990F;
    border-radius: 3px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(240, 175, 36, 0.4);
  }

  .content1 {
    background-color:#B9292B;
    border-radius: 3px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(240, 56, 36, 0.4);
  }

  .content2 {
    background-color:#006CDE;
    border-radius: 3px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(36, 145, 240, 0.4);
  }